---
import { ClientRouter } from 'astro:transitions';
import Navbar from '../components/Navbar.vue';
import { ROUTES, SITE_METADATA } from '../constants.ts';
import '../styles/global.css';

interface Props {
  title?: string;
  class?: string;
}

const { pathname } = Astro.url;
const { title, class: classes } = Astro.props;

const currentRoute = ROUTES.find(route => {
  const cleanPath = pathname.replace(/\/$/, '');
  const targetPath = route.path.replace(/\/$/, '');
  return cleanPath === targetPath;
});

const displayTitle = (() => {
  if (title) {
    return `${title} | ${SITE_METADATA.title}`;
  } else if (currentRoute) {
    return `${currentRoute.name} | ${SITE_METADATA.title}`;
  } else {
    return SITE_METADATA.title;
  }
})();
---

<!DOCTYPE html>
<html lang="zh-CN" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE_METADATA.description} />
    <title>{displayTitle}</title>
    <ClientRouter />
  </head>
  <body class="bg-white text-slate-900 antialiased selection:bg-blue-100 min-h-screen flex flex-col">
    <Navbar client:load />

    <div class="mx-auto px-4 py-12 lg:py-20 grow">
      <main
        class:list={[
          'max-w-6xl mx-auto px-6 py-16',
          classes,
        ]}
      >
        <slot />
      </main>
    </div>

    <footer class="border-t border-slate-100 py-6 sm:py-10 text-center text-sm text-slate-400">
      <p>
        © {new Date().getFullYear()} {SITE_METADATA.title}. All rights reserved.
      </p>
    </footer>
  </body>
</html>
